
<div class="appointment-container" style="border:none">
    <button 
    class="label {{status_color}} appointment" 
    id="appointment"
    data-toggle="popover" 
    title="<a target='__blank'
        href='/subject/{{dashboard_type}}/{{subject_identifier}}/'>Dashboard</a>" 

    data-content="Visit Code : {{visit_code}}<br> Status : {{status}} {{ model_obj}}
    <br/> 
    
    Reschedules: {{resceduled_appointments_count}}
        <br> <a href='{{participant_note_wrapper.href}}subject_identifier={{subject_identifier}}'>Add Description</a>
        <br> <a href='{{participant_note_wrapper.href}}subject_identifier={{subject_identifier}}&title=Comment&date={{ date }}'>Add Comment</a>
        {% if is_not_sec and dashboard_type == 'child_dashboard'  %} <br> <a href='{{participant_note_wrapper.href}}subject_identifier={{subject_identifier}}&title=Follow Up Schedule'>Add Follow UP Schedule</a> {% endif %}
        <br/>

        <strong>Comments</strong>
        <br/>

        <ul>
            {% for comment in participant_note_wrapper.comments %}
                {% if comment.subject_identifier == subject_identifier %}
                    <li style='color : {{ comment.color }}'>{{ comment.description }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <hr>

        {% for choice in appointment_choices %}
            {% if request.GET.month %}
                <a href='{{ request.path}}?month={{request.GET.month}}&choice={{choice.0}}&visit_code={{visit_code}}&subject_identifier={{ subject_identifier}}&date={{date}}'>{{choice.1}}</a>
            {% else %}
                <a href='{{ request.path}}?choice={{choice.0}}&visit_code={{visit_code}}&subject_identifier={{ subject_identifier}}&date={{date}}'>{{choice.1}}</a>
            {% endif %}
            
        {% endfor %}">



        
        {% if status_color %}
            {{subject_identifier}}
        {% else %}
            <span style="color: black">{{ subject_identifier }}</span>
        {% endif %}
        {{icon}}
    </button>
</div>
