
<div class="appointment-container" style="border:none">
    <button 
    class="label {{status_color}} appointment" 
    id="appointment"
    data-toggle="popover" 
    title="<a target='__blank'
        href='/subject/{{dashboard_type}}/{{subject_identifier}}/'>Dashboard</a>" 
    data-content="Visit Code : {{visit_code}}<br> Status : {{status}}
    <br/> 
    
    Reschedules: {{resceduled_appointments_count}}
        <br> <a href='{{reminder.href}}title={{subject_identifier}}Note'>Add Note</a>
        <br/>

        <hr>

        {% for choice in appointment_choices %}
            <a href='#'>{{choice}}</a>
        {% endfor %}">
        
        {{subject_identifier}}
        {{icon}}
    </button>
</div>
